MYOB.PayslipGenerator.Utilities/Employee.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Employees">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Employee" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="FirstName"/>
              <xs:element type="xs:string" name="LastName"/>
              <xs:element type="xs:float" name="AnnualSalary"/>
              <xs:element type="xs:string" name="PayStartDate"/>
              <xs:element type="xs:string" name="SuperRate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>